.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  input {
    width: 95%;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .button-group {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    gap: 10px; /* 버튼 간격 설정 */
    margin-top: 1rem;
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  